<h3 style='width: 100%; text-align: center; margin: 0;'>
<span><%= @brand.id %></span>
</h3>

<ul>
<% [:campaign, :team].each do |e| %>
<li><%= e %>: <%= params[e] %></li>
<% end %>
<% [:influencer, :ambassador, :place, :item].each do |e| %>
<li><%= e %>: <%= if @campaign[e] != nil && @campaign[e] != ''; @campaign[e]; else; 'unassigned'; end %></li>
<% end %>
</ul>


<div class='mermaid' style='width: 100%;'>
  gantt
  dateFormat  HH:mm
  axisFormat %H:%M
  start  : crit, active, pre, <%= @campaign[:time] %>, 1m
  setup  : crit, milestone, setup, after pre, 5m
  promo move      : promo1, after pre, 5m
  promo arrival   : promo2, after promo1, 2m
  promo event     : promo3, after promo2, 20m
  <%= @campaign[:influencer] %> move      : influence1, after promo1, 5m
  pitch  : crit, milestone, pitch, after setup, 5m
  <%= @campaign[:influencer] %> arrival   : milestone, influence2, after pitch, 2m
  <%= @campaign[:influencer] %> event     : influence3, after influence2, 15m
  <%= @campaign[:ambassador] %> move      : am1, after influence2, 5m
  <%= @campaign[:ambassador] %> arrival   : milestone, am2, after am1, 2m
  piece  : crit, milestone, piece, after am2, 5m
  <%= @campaign[:ambassador] %> departure : milestone, am4, after piece, 3m
  <%= @campaign[:influencer] %> departure : milestone, influence4, after am4, 3m
  promo departure : promo4, after influence4, 3m
  end : crit, active, after promo4, 1m
</div>
