<style>
#items { width: 100%; text-align: left; background-color: black; color: white; font-size: large; height: 50%; overflow-y: scroll; border-top: thin solid white; border-bottom: thin solid white; }
a { text-decoration: none; color: white; border: thin outset grey; padding: 1%; }
</style>

<%= erb :img %>

<%= erb :heading %>

<% if ENV.has_key?('EMBED') %>
<div id='body' style='width: 100%; text-align: center;'>
<%= ENV['EMBED'] %>
</div>
<% end %>


<% if params.has_key?(:user) && params.has_key?(:chan) %>
<%= erb :gps %>
<% else %>
<div style='width: 100%; text-align: center; position: fixed; bottom: 15%;'>
<datalist id='queries'>
<% Z4.query.terms.members.to_a.each do |e| %>
<option value='<%= e %>'></option>
<% end %>
</datalist>
<div id='items'></div>
<h1 style='width: 100%; text-align: center;'>
<input type='text' list='queries' id='query' placeholder='<%= Z4.query.terms.members.to_a.sample %>' style='width: 80%; font-size: x-large;'>
<button id='send' class='material-icons'>send</button>
</h1>
</div>

<p style='width: 100%; text-align: center; margin: 0; position: fixed; bottom: 0;'>
<span style='background-color: black; color: white;'>A Free Range domain. &copy;2024</span>
</p>

<% end %>