<%= erb :partial_img %>

<%= erb :partial_heading %>

<% if ENV.has_key?('EMBED') %>
<div id='body' style='width: 100%; text-align: center; background-color: black;'>
<p stylw='width: 100%; text-align: center;'><%= ENV['EMBED'] %></p>
</div>
<% end %>

<div style='width: 100%; text-align: center; position: fixed; bottom: 10%;'>
<div style='width: 100%; text-align: center; max-height: 80vh; overflow-y: scroll; background-color: black;'>
<div id='items'>
<%= erb :partial_intro %>
</div>
</div>

<%= erb :partial_trampstamp %>

</div>
