<style>
@keyframes shadowPulse {
    0% {
        box-shadow: 0px -10px 3px indianred;
	text-shadow: 0px 10px 3px yellow;
    }   

    10% {
        box-shadow: 1px -8px 3px y;
	text-shadow: -1px 8px 3px yellow;
    }

    20% {
        box-shadow: 2px -6px 5px orange;
	text-shadow: -2px 6px 5px yellow;
    }

    30% {
        box-shadow: 3px -4px 6px orange;
	text-shadow: -3px 4px 6px yellow;
    }

    40% {
        box-shadow: 4px -2px 7px gold;
	text-shadow: -4px 2px 7px orange;
    }

    50% {
        box-shadow: -5px 0px 10px gold;
	text-shadow: 5px 0px 10px orange;
    }

    60% {
        box-shadow: -4px 2px 7px gold;
	text-shadow: 4px -2px 7px orange;
    }

    70% {
        box-shadow: -3px 4px 6px gold;
	text-shadow: 3px -4px 6px orange;
    }

    80% {
        box-shadow: -2px 6px 5px yellow;
	text-shadow: 2px -6px 5px orange;
    }
    
    90% {
        box-shadow: -1px 8px 3px yellow;
	text-shadow: 1px -8px 3px red;
    }
    
    100% {
        box-shadow: 0px 10px 3px yellow;
	text-shadow: 0px -10px 3px indianred;
    }    
}
    
#query {
    animation-name: shadowPulse;
    animation-duration: 0.7s;
    animation-iteration-count: 100000;
    animation-timing-function: cubic-bezier(0.1, 0.7, 0.1, 1);
}
</style>

<% if Remind.all %>
<% if Remind.all.length > 0 %>
<div style='border: thin solid white;'>
<h3 style='width: 100%; text-align: center; margin: 0;'><span>REMINDERS:</span></h3>
<% Remind.all.each do |e| %>
<p style='width: 100%; text-align: center; margin: 1% 0 1% 0; font-size: smaller;'>
<%= e %>
</p>
<% end %>
<% end %>
</div>
<div>

<% if @q > 1 %>
<p style='width: 100%; text-align: center; font-size: smaller; border: thin solid indianred;'>Fortune: <%= Z4.fortune.join(", ") %>.</p>
<% elsif @q > 0 %>
<p style='width: 100%; text-align: center; font-size: smaller; border: thin solid darkblue;'>Tarot Card: <%= Z4.tarot[:index].hand!.join(", ") %></p>
<% else %>
<p style='width: 100%; text-align: center; font-size: smaller; border: thin solid darkgreen;'>Lucky Numbers: <%= Z4.dice(6,100).roll!.join(", ") %></p>
<% end %>

</div>
<% else %>
<div style='border: thin solid white;'>
<p style='width: 100%; text-align: center; margin: 0; font-size: smaller;'>Space Fact:</p>
<% Z4.astronomy.random.each do |e| %>
<p style='width: 100%; text-align: center; margin: 0; font-size: smaller;'><%= e %></p>
<% end %>
</div>
<% end %>


<h1 style='width: 100%; text-align: center; margin: 5% 0 5% 0;'>
<select id='query' style='text-align: center; font-size: xx-large; border: none; background-color: rgba(0,0,0,0); color: rgba(0,0,0,0.5); padding: 0 0 0 20px;'>
<option value='info' selected disabled>CHOICES</option>
<% QUERY.keys.each do |e| %>
<% if "#{e}".length > 0 && e != "best" && e != "life" && e != "town" %>
<option value='<%= e %>'><%= e %></option>
<% end %>
<% end %>
</select>
</h1>
<p style='width: 100%; text-align: center;'>
<button id='leaderboard' class='material-icons'>leaderboard</button>
<button id='areas' class='material-icons'>flag</button>
<button id='qr' class='material-icons'>qr_code</button>
<button id='info' class='material-icons'>lightbulb</button>
<button id='discord' class='material-icons'>support_agent</button>
</p>

<script>

</script>