<%= erb :partial_head %>

<div id='container'>
<h1 class='tag'><span><%= OBJ[:user][params[:user]].attr[:name] %></span></h1>
<h3 class='tag' style='background-color: <%= OBJ[:chan][params[:chan]].attr[:color] || 'white' %>;'><span><%= OBJ[:chan][params[:chan]].attr[:name] %></span></h3>
<div id='qrcode'></div>
</div>

<script>
$("#qrcode").qrcode('https://<%= request.host %>/u?user=<%= params[:user] %>&chan=<%= params[:chan] %>&epoch=<%= params[:epoch] %>');
</script>