<% @user = Z4[:user, params[:user]] %>
<% @chan = Z4[:chan, params[:chan]] %>
<% Z4BC.transaction amount: 1, to: params[:user], bank: params[:chan], for: "scan at #{Time.now.utc.to_s}" %>

<style>
#bg { z-index: -10; position: fixed; width: 100vw; height: 100vh; }
a { text-decoration: none; }
.btn { padding: 25%; margin: 20% 0 20% 0; border-radius: 5000px; font-size: 100%; background-color: black; }
#head { width: 100%; margin: 0; }
#top { margin: 0; font-size: xx-large; }
#nav { float: right; text-align: right; vertical-align: middle; width: min-content; margin: 0 5% 0 0; z-index: 1; }
#phone { color: green; }
#store { color: gold; }
#social { color: red; }
#tips { color: pink; }
#foot { position: fixed; bottom: 0; width: 100%; text-align: center; background-color: black; }
#work {}
#job { padding: 1% 2% 1% 2%; }
#union { padding: 1% 2% 1% 2%; }
</style>


<img id='bg' src='<%= @user[:img] || @chan[:img] %>'>

<div id='head'>
<h1 id='top'>
<span id='nav'>
<% { discord: 'support_agent', phone: 'ring_volume', store: 'local_grocery_store', social: 'follow_the_signs', tips: 'savings' }.each_pair do |key,icon|  %>
<% if "#{@user[key]}".length > 0 %>
<a class='material-icons btn' id='<%= key %>' href='<%= @user[key] %>'><%= icon %></a>
<% end %>
<% end %>
</span>
<span id='name'><%= @user[:name] %></span>
</h1>
<h2 style='margin: 0;'>serving <%= @user[:city] %> since <%= @user[:since] %>.</h2>
</div>


<div id='foot'>
<% if "#{@user[:embed]}".length > 0 %>
<%= Embed.new(@user[:embed]).result(params) %>
<% end %>

<div id='work'>
<% if "#{@user[:job]}".length > 0 %>
<h2 style='margin: 0;'><span id='job'><%= @user[:job] %></span></h2>
<% end %>
<% if "#{@user[:union]}".length > 0 %>
<h2 style='margin: 0;'><span id='union'><%= @user[:union] %></span></h2>
<% end %>
</div>
</div>
