<% @user = OBJ[:user][params[:user]] %>
<% @chan = OBJ[:chan][params[:chan]] %>

<% Z4.xfer amt: 1, to: params[:user], memo: "scan at #{Time.now.utc.to_s}" %>

<img id='bg' src='<%= @user.attr[:img] || @chan.attr[:img] || ENV['IMG'] %>'>

<div id='head'>
<h1 id='top'>
<span id='nav'>
<% { phone: 'ring_volume', store: 'local_grocery_store', social: 'follow_the_signs', tips: 'savings' }.each_pair do |key,icon|  %>
<% if "#{@user.attr[key]}".length > 0 %>
<a class='material-icons btn box' id='<%= key %>' href='<%= @user.attr[key] %>'><%= icon %></a>
<% end %>
<% end %>
</span>
<span id='name' class='box'><%= @user.attr[:name] %></span>
</h1>
<% if "#{@user.attr[:job]}".length > 0 %>
<h2 style='margin: 0; width: fit-content;' class='box'><span id='job'><%= @user.attr[:job] %></span></h2>
<% end %>
<% if "#{@user.attr[:union]}".length > 0 %>
<h2 style='margin: 0; width: fit-content;' class='box'><span id='union'><%= @user.attr[:union] %></span></h2>
<% end %>
<h2><span class='box'>serving <%= @user.attr[:area] %> since <%= @user.attr[:since] %>.</span></h2>
<% if "#{@user.attr[:embed]}".length > 0 %>
<h3 class='box' style='width: fit-content;'>
<%= @user.attr[:embed] %>
</h3>
<% end %>
</div>

<% if "#{@chan.attr[:embed]}".length > 0 %>
<div class='box' style='width: 100%; text-align: center; margin: 50% 0 0 0; padding: 1% 0 1% 0;'>
<h2 style='width: 100%; text-align: center;'><span style='border: thin dashed white; padding: 1% 2% 1% 2%;'><%= @chan.attr[:name] %></span></h2>
<h3 style='width: 100%; text-align: center;'><%= @chan.attr[:embed] %></h3>
</div>
<% end %>
