<% @user = OBJ[:user][params[:user]] %>
<% @chan = OBJ[:chan][params[:chan]] %>

<% Z4.xfer amt: 1, to: params[:user], memo: "scan at #{Time.now.utc.to_s}" %>

<img id='bg' src='<%= @user.attr[:img] || @chan.attr[:img] || ENV['IMG'] %>'>

<div id='head'>
<h1 id='top'>
<span id='nav'>
<% { phone: 'ring_volume', store: 'local_grocery_store', social: 'follow_the_signs', tips: 'savings' }.each_pair do |key,icon|  %>
<% if "#{@user.attr[key]}".length > 0 %>
<a class='material-icons btn box' id='<%= key %>' href='<%= @user.attr[key] %>'><%= icon %></a>
<% end %>
<% end %>
</span>
<span id='name' class='box'><%= @user.attr[:name] %></span>
</h1>
<h2><span id='work' class='box'>serving <%= @user.attr[:zone] %> since <%= @user.attr[:since] %>.</span></h2>
</div>

<div id='foot'>
<div style='font-size: larger;'>
<span class='material-icons' style='color: green; font-size: xx-large; background-color: black; border: thin solid gold; border-radius: 500px;'>gpp_good</span>
<% @user.bag.each do |e| %>
<span style='vertical-align: middle; background-color: <%= Z4.color[e.depth] %>; padding: 0 2% 0 2%; border-radius: 500px; border: thin solid white;'><%= e.id %></span>
<% end %>
</div>
<% if "#{@chan.attr[:embed]}".length > 0 %>
<%= @chan.attr[:embed] %>
<% end %>
<% if "#{@user.attr[:embed]}".length > 0 %>
<%= @user.attr[:embed] %>
<% end %>
<div id='work'>
<% if "#{@user.attr[:job]}".length > 0 %>
<h2 style='margin: 0;' class='box'><span id='job'><%= @user.attr[:job] %></span></h2>
<% end %>
<% if "#{@user.attr[:union]}".length > 0 %>
<h2 style='margin: 0;' class='box'><span id='union'><%= @user.attr[:union] %></span></h2>
<% end %>
</div>
</div>
